@using FoodOrderingSite.PL.Model
@{
    Layout = "Layout/_MainLayout.cshtml";
}

@{ 
    var products = ProductContext.GetInstance.Products();
}
<link href="~/Css/Index.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-3" style="background-color:burlywood">
            <button type="button" class="btn btn-warning category">Пицца</button>
            <button type="button" class="btn btn-warning category">Суши</button>
            <button type="button" class="btn btn-warning category">Напитки</button>
            <button type="button" class="btn btn-warning category">Разное</button>
        </div>
        <div class="col-9" style="background-color:forestgreen; padding:0">
            @foreach (var item in products)
            {
                <div class="product">
                    <div class="product_content">
                        <div><h3>@item.Name</h3></div>
                        <img class="product_img" src="@item.Image" />
                        <h5>@item.Сomposition</h5>
                        <h5 class="border bg-info">Стоимость: @item.Price руб.</h5>
                        <button type="button" class="btn btn-info add-btn" value="@item.Id" id="AddProduct">Положить в корзину</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $('.add-btn').click(function (e) {
      $.ajax({
      type: "POST",
          url: "Methods/AddProductToBasket",
          data: "id=" + this.value,
          success: function (count) {
              $("#basketCount").text(count);
      }});
    });
</script>

